* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Jersey 10';
    src: url('./Fonts/Jersey10-Regular.woff2') format('woff2'),
        url('./Fonts/Jersey10-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #99cc66;
    color: #26331a;
    font-family: 'Jersey 10', monospace;
}

#top {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 3.3rem;
}

button {
    font-family: 'Jersey 10', monospace;
    font-size: 1.2rem;
    padding: 10px;
    margin: 5px;
    border: 2px solid #26331a;
    color: #26331a;
    background-color: #99cc66;
}

button:hover {
    background-color: #26331a;
    color: #99cc66;
    cursor: pointer;
}

#main-container {
    border: 2px solid #26331a;
    width: 97%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 100px;
}

dialog {
    width: 50%;
    margin: auto;
    background-color: #99cc66;
    color: #26331a;
    border: #26331a 2px solid;
    padding: 10px;
}

dialog h2 {
    text-align: center;
    font-size: 2rem;
}

.form-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

label {
    text-align: right;
    width: 100px;
    font-size: 1.2rem;
}

input,
select,
textarea {
    width: 100%;
    height: initial;
    font-family: monospace;
    border: #26331a 1px solid;
    color: #26331a;
    background-color: #99cc66;
    padding: 5px;
}

textarea {
    resize: none;
    min-height: 150px;
}

.form-row button {
    width: 100px;
    margin: auto;
}