.task-div {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.task-div-top {
    display: flex;
    justify-content: space-between;
}

.title-container {
    display: flex;
    flex-direction: column;
}

.task-name-container {
    display: flex;
    gap: 10px;
}

h3 {
    font-size: 1.5rem;
    font-weight: 100;
}

.description {
    font-family: monospace;
    margin-top: -3px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

img {
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    border: 2px solid #264c00;
    width: 15px;
    height: 15px;
    background-color: #939e01;
}

input[type="checkbox"]:checked {
    background-color: #264c00;
}

input[type="checkbox"]:checked:before {
    content: '✓';
    color: #939e01;
    position: relative;
    font-size: 1.5rem;
    top: -14px;
    left: -6px;
}

.notes,
p {
    font-family: monospace;
    overflow: auto;
    overflow-wrap: break-word;
}